<div class="mx-auto">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-supported-content"
      aria-controls="navbar-supported-content"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-supported-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" *ngIf="auth.loggedIn">
            <i class="fa fa-user"></i> {{ auth.currentUser.nickname }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/pools" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list-alt"></i> Votaciones
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/login"
            class="nav-link"
            routerLinkActive="active"
            *ngIf="!auth.loggedIn"
          >
            <i class="fa fa-sign-in"></i> Ingresar
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/register"
            class="nav-link"
            routerLinkActive="active"
            *ngIf="!auth.loggedIn"
          >
            <i class="fa fa-user-plus"></i> Registrarse
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/vote"
            class="nav-link"
            routerLinkActive="active"
            *ngIf="auth.loggedIn"
          >
            <i class="fa fa-check-square-o"></i> Votar
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/logout"
            class="nav-link"
            routerLinkActive="active"
            *ngIf="auth.loggedIn"
          >
            <i class="fa fa-sign-out"></i> Salir
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
