<app-msg [message]="msg.message"></app-msg>
<div class="jumbotron text-center">
  <h1>Ingreso</h1>
  <p>Por favor ingrese su nombre de usuario</p>
</div>
<div class="container">
  <div class="card-body text-center">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" [ngClass]="setClassNickname()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input
          class="form-control"
          type="nickname"
          name="nickname"
          formControlName="nickname"
          placeholder="Nickname"
          autofocus
        />
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        <i class="fa fa-sign-in"></i> Ingresar
      </button>
    </form>
  </div>
</div>
